@using ISports.Models
@model Evento
@{
    ViewBag.Title = "Create Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script>
                       $(window).load(function () {
                            $('#time').mask('00:00');
                        });
    </script>
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="row">

                    <form class="form-horizontal" action="/Event/Create" method="post">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Create Event</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Event Name</label>
                                <div class="col-md-4">
                                    <!--input id="eventName" name="eventName" placeholder="Event Name" class="form-control input-md" required="" type="text"-->
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-md", @placeholder = "Event Name" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Nome)
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="description">Description</label>
                                <div class="col-md-4">
                                    <!--textarea class="form-control" id="description" name="description"></textarea-->
                                    @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @placeholder = "Event Description" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Descricao)
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="sport">Day</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.Data, new SelectListItem[]{
                                            new SelectListItem() {Text = "Sunday", Value="Sunday"},
                                            new SelectListItem() {Text = "Monday", Value="Monday"},
                                            new SelectListItem() {Text = "Tuesday", Value="Tuesday"},
                                            new SelectListItem() {Text = "Wednesday", Value="Wednesday"},
                                            new SelectListItem() {Text = "Thursday", Value="Thursday"},
                                            new SelectListItem() {Text = "Friday", Value="Friday"},
                                            new SelectListItem() {Text = "Saturday", Value="Saturday"}}, new { @class = "form-control" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Data)
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Time</label>
                                <div class="col-md-4">
                                    <!--input id="eventName" name="eventName" placeholder="Event Name" class="form-control input-md" required="" type="text"-->
                                    @Html.TextBoxFor(m => m.Horario, new { @class = "form-control input-md", @placeholder = "22:45" , id = "time"})
                                </div>
                                @Html.ValidationMessageFor(m => m.Horario)
                            </div>
                            <legend>Sport info</legend>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="sport">Sport</label>
                                <div class="col-md-4">
                                    <!--select id="sport" name="sport" class="form-control">
                                        <option value="Football">Football</option>
                                        <option value="Voleyball">Voleyball</option>
                                        <option value="Baseball">Baseball</option>
                                        <option value="Basketball">Basketball</option>
                                    </select-->

                                    @{ List<SelectListItem> listEsports = new List<SelectListItem>();

                                        if (ViewBag.Esportes != null)
                                        {
                                            foreach (var p in ViewBag.Esportes)
                                            {
                                                listEsports.Add(new SelectListItem
                                                {
                                                    Text = @p.Descricao_Esporte,
                                                    Value = @p.Id_Esporte.ToString()
                                                });
                                            }
                                        }
                                    }
                                    @Html.DropDownListFor(m => m.Esporte.Id_Esporte, listEsports, "-- Select Sports --", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Esporte.Id_Esporte)
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="maxP"> Max Player</label>
                                <div class="col-md-2">
                                    <!--input id="maxP" name="maxP" placeholder="max" class="form-control input-md" type="text"-->
                                    @Html.TextBoxFor(m => m.MaxJogadores, new { @class = "form-control input-md", @placeholder = "max" })
                                </div>
                                @Html.ValidationMessageFor(m => m.MaxJogadores)
                            </div>
                            <legend>Local info</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Local Name</label>
                                <div class="col-md-4">
                                    <!--input id="localName" name="localName" placeholder="Local Name" class="form-control input-md" required="" type="text"-->
                                    @Html.TextBoxFor(m => m.Local.Nome, new { @class = "form-control input-md", @placeholder = "Local Name" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Local.Nome)
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="address">Address</label>
                                <div class="col-md-4">
                                    <!--input id="address" name="address" placeholder="address" class="form-control input-md" type="text"-->
                                    @Html.TextBoxFor(m => m.Local.Endereco, new { @class = "form-control input-md", @placeholder = "address" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Local.Endereco)
                            </div>
                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="description">Description Local</label>
                                <div class="col-md-4">
                                    <!--textarea class="form-control" id="description" name="description"></textarea-->
                                    @Html.TextAreaFor(m => m.Local.Descricao_Local, new { @class = "form-control", @placeholder = "Local Description" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Local.Descricao_Local)
                            </div>

                            <!--UF-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="uf">UF</label>
                                <div class="col-md-4">
                                    <!--select id="uf" name="uf" class="form-control">
                                        <option value="SP">SP</option>
                                        <option value="MG">MG</option>
                                        <option value="RJ">RJ</option>
                                        <option value="ES">ES</option>
                                    </select-->

                                    @{ List<SelectListItem> listEstados = new List<SelectListItem>();

                                        if(ViewBag.Estados != null)
                                        {
                                            foreach (var p in ViewBag.Estados)
                                            {
                                                listEstados.Add(new SelectListItem
                                                {
                                                    Text = @p.Sigla,
                                                    Value = @p.Sigla
                                                });
                                            }
                                        }

                                    }
                                    @Html.DropDownListFor(m => m.Local.Cidade.Uf.Sigla, listEstados, "-- Select State --", new { @class = "form-control", id = "estate" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Local.Cidade.Uf.Sigla)
                            </div>

                             <script>
                             @*function SelectionChanged()
                             {
                                 var estado = $("#estate").val();
                                 var link = '@Url.Action("Create", "Event", new { estado = "SP" })';
                                 link = link.replace("SP", estado);

                                 window.location = link;
                             }*@
                            </script>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="town">Town</label>
                                <div class="col-md-4">
                                    <!--select id="town" name="town" class="form-control">
                                        <option value="São José do Rio Preto">São José do Rio Preto</option>
                                        <option value="Catanduva">Catanduva</option>
                                        <option value="Cedral">Cedral</option>
                                        <option value="Onda Verde">Onda Verde</option>
                                    </select-->
                                    @{ List<SelectListItem> listItems = new List<SelectListItem>();

                                        if (ViewBag.Cidades != null)
                                        {
                                            foreach (var p in ViewBag.Cidades)
                                            {
                                                listItems.Add(new SelectListItem
                                                {
                                                    Text = @p.Nome,
                                                    Value = @p.codigo.ToString()
                                                });
                                            }
                                        }
                                    }
                                    @Html.DropDownListFor(m => m.Local.Cidade.codigo, listItems, "-- Select Town --", new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(m => m.Local.Cidade.codigo)
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="submit"></label>
                                <div class="col-md-4">
                                    <center>
                                        <button id="submit" name="submit" class="btn btn-success" style="a">Create</button>
                                    </center>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
