@using ISports.Models
@model Evento
@{
    ViewBag.Title = "Home Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="logout">
                        <div class="page-header">
                            @if (Model.Imagem != null)
                            {
                                <img src="Model.Imagem" style="width: 150px;height:auto; border: 1px solid #bfbfbf; box-shadow: 0 0 4px #cfcfcf;" />
                            }
                            else
                            {
                                <img src="~/Pictures/futebol.jpg" style="width: 150px;height:auto; border: 1px solid #bfbfbf; box-shadow: 0 0 4px #cfcfcf;" />
                            }
                            <h1 style="display: inline; position: relative; top: 50px;">@Model.Nome <small>@Model.Organizador.Nome</small></h1>
                            @if (ViewBag.Subscribed == true)
                            {

                            <div class="unsubscribe">
                                <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="">
                                    <span class="glyphicon glyphicon-minus"></span> Unsubscribe
                                </button>
                            </div>
                            }
                            else
                            {
                            <div class="subscribe">
                                <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="location.href='@Url.Action("Subscribe", "Event", new { idEvento = Model.Id_Evento, idUser= (Session["usuario"] as Usuario).Id_usuario })';return false;">
                                    <span class="glyphicon glyphicon-plus"></span> Subscribe
                                </button>
                            </div>
                            }
                        </div>
                        <div style="float:right" class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-star" aria-hidden="true">&nbsp Presence</i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i> Yes</a></li>
                                <li><a href="#"><i class="fa fa-times" aria-hidden="true"></i> No</a></li>
                            </ul>
                        </div>
                        <div class="comment-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#about" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">About</h4></a></li>
                                @if (ViewBag.Subscribed == true)
                                {
                                     <li><a href="#feed" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Feeds</h4></a></li>
                                     <li><a href="#members" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Members</h4></a></li>
                                }
                                else
                                {
                                    <li style="display:none"><a href="#feed" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Feedssa</h4></a></li>
                                    <li style="display:none"><a href="#members" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Members</h4></a></li>
                                }


                            </ul>
                        </div>

                        <div class="tab-content">
                            <div id="about" class="tab-pane fade in active">
                                <h3>@Model.Nome</h3>
                                <strong>Sport: </strong> @Model.Esporte.Descricao_Esporte
                                <br />
                                <strong>Time: </strong> @Model.Horario
                                <br />
                                <strong>Day: </strong> @Model.Data
                                <br />
                                <strong>Town: </strong> @Model.Local.Cidade.Nome - @Model.Local.Cidade.Uf.Sigla
                                <br />
                                <strong>Description: </strong>
                                <br />
                                @Model.Descricao
                            </div>
                            <div id="feed" class="tab-pane fade">
                                <div class="panel panel-default" style="margin-bottom: 5px !important; margin-top: -20px !important;">
                                    <div class="panel-body">
                                        <h5>Vitoria time Masculino <small>20/04/2017 as 22:30</small></h5>
                                    </div>
                                </div>
                                <div class="panel panel-default" style="margin:0 !important">
                                    <div class="panel-body">
                                        <h5>Vitoria time Feminino <small>27/04/2017 as 22:30</small></h5>
                                    </div>
                                </div>
                            </div>
                            <div id="members" class="tab-pane fade">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Age</th>
                                    <!--th>Commands</th-->
                                    </thead>
                                    <tbody>
                                    @foreach (var p in ViewBag.listSubs)
                                    {
                                        <tr>
                                            <td>@p.Nome</td>
                                            <td>@p.Email</td>
                                            <td>@p.Cel</td>
                                            <td>@p.DataNasc</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
