@using ISports.Models
@model Evento
@{
    ViewBag.Title = "Home Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="logout">
                        <div class="page-header">
                            <img src="@Model.Imagem" class="img-thumbnail" style="width: 150px;height:auto; border: 1px solid #bfbfbf; box-shadow: 0 0 4px #cfcfcf;" />
                            <h1 style="display: inline; position: relative; top: 50px;" data-toggle="popover" title="@Model.Organizador.Nome @Model.Organizador.Sobrenome @Model.Organizador.Cel" >@Model.Nome <small>#@Model.Organizador.Nome @Model.Organizador.Sobrenome</small></h1>

                            <script>
                                $(function () {
                                    var img;
                                    var text;
                                    @*if(@Model.Organizador.Qualificacao >= 8)
                                    {
                                        text = "Gold Medal";
                                         img = "/Pictures/gold medal.png";

                                    }else if(@Model.Organizador.Qualificacao >= 6 && @Model.Organizador.Qualificacao < 8)
                                    {
                                        text = "Silver Medal";
                                         img = "/Pictures/silver medal.png";
                                    }else
                                    {
                                         text = "Bronze Medal";
                                         img = "/Pictures/bronze medal.png";
                                    }*@



                                    text = "Gold Medal";
                                    img = "/Pictures/gold medal.png";

                                    if(parseInt(@Model.Organizador.Qualificacao) < 8)
                                    {
                                        text = "Silver Medal";
                                        img = "/Pictures/silver medal.png";
                                        if(parseInt(@Model.Organizador.Qualificacao)  < 5)
                                        {
                                            text = "Bronze Medal";
                                            img = "/Pictures/bronze medal.png";
                                        }
                                    }

                                    var image = '&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<img src="' + img + '" style="width:80px; height:80px; position:absolute; top:50%; left:50%;  margin-top:-40px; margin-left:-40px;" ></br></br></br></br> <h3 style="margin-left: 10%;"> '+ text +'</h3>';
                                    $('[data-toggle="popover"]').popover({ placement: 'bottom', content: image, html: true })
                                })
                            </script>

                            @if (ViewBag.Subscribed == true)
                            {
                                if (ViewBag.SubStatus == 1) //inscrito
                                {
                                    <div class="unsubscribe">
                                        <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="location.href='@Url.Action("Unsubscribe", "Event", new { idEvento = Model.Id_Evento })';return false;">
                                            <span class="glyphicon glyphicon-minus"></span> Unsubscribe
                                        </button>
                                    </div>
                                }
                                else if (ViewBag.SubStatus == 2) //Pendente
                                {
                                    <div class="pending">
                                        <button class="btn btn-default btn-circle text-uppercase"  type="button" onclick="" disabled>
                                            <span class="glyphicon glyphicon-question-sign"></span> Pending..
                                        </button>
                                    </div>
                                }
                                else
                                {
                                    <div class="subscribe">
                                        <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="location.href='@Url.Action("Subscribe", "Event", new { idEvento = Model.Id_Evento })';return false;">
                                            <span class="glyphicon glyphicon-plus"></span> Subscribe
                                        </button>
                                    </div>
                                }

                            }
                            else
                            {
                            <div class="subscribe">
                                <button class="btn btn-default btn-circle text-uppercase" type="button" onclick="location.href='@Url.Action("Subscribe", "Event", new { idEvento = Model.Id_Evento })';return false;">
                                    <span class="glyphicon glyphicon-plus"></span> Subscribe
                                </button>
                            </div>
                            }
                        </div>
                        <div style="float:right">
                            @if (ViewBag.SubStatus == 1)
                            {
                                if (ViewBag.NotaUser < 1)
                                {
                                    <button class="btn btn-primary " data-toggle="modal" data-target="#notaModal">
                                        <i class="fa fa-star" aria-hidden="true">&nbsp Evaluate</i>
                                    </button>
                                }
                            }
                            
                        </div>
                        <div class="comment-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#about" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">About</h4></a></li>
                                @if (ViewBag.Subscribed == true && ViewBag.SubStatus == 1)
                                {
                                     <li><a href="#feed" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Feeds</h4></a></li>
                                     <li><a href="#members" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Members</h4></a></li>
                                }
                                else
                                {
                                    <li style="display:none"><a href="#feed" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Feedssa</h4></a></li>
                                    <li style="display:none"><a href="#members" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Members</h4></a></li>
                                }


                            </ul>
                        </div>

                        <div class="tab-content">
                            <div id="about" class="tab-pane fade in active">
                                <h3>@Model.Nome</h3>
                                <strong>Description: </strong>
                                <br />
                                @Model.Descricao
                                <br />
                                <strong>Sport: </strong> @Model.Esporte.Descricao_Esporte
                                <br />
                                <strong>Time: </strong> @Model.Horario
                                <br />
                                <strong>Day: </strong> @Model.Data
                                <br />

                                <strong>Local Name: </strong>@Model.Local.Nome
                                <br />
                                <strong>Local Descripton: </strong>@Model.Local.Descricao_Local
                                <br />
                                <strong>Address: </strong>@Model.Local.Endereco
                                <br />
                                <strong>Town: </strong> @Model.Local.Cidade.Nome - @Model.Local.Cidade.Uf.Sigla
                                <br />

                            </div>
                            <div id="feed" class="tab-pane fade">
                                @foreach (var m in ViewBag.Noticias)
                                {
                                    <div class="panel panel-default" @*style="margin-bottom: 5px !important; margin-top: 80px !important"*@>
                                        <div class="panel-body">
                                            <h5>@m.Descricao_Noticia <small>@m.Data_Noticia </small></h5>
                                        </div>
                                    </div>
                                }   
                            </div>
                            <div id="members" class="tab-pane fade">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Age</th>
                                    <!--th>Commands</th-->
                                    </thead>
                                    <tbody>
                                    @foreach (var p in ViewBag.listSubs)
                                    {
                                        <tr>
                                            <td>@p.Nome</td>
                                            <td>@p.Sobrenome</td>
                                            <td>@p.Email</td>
                                            <td>@p.Cel</td>
                                            <td>@p.DataNasc.ToString("MM/dd/yyyy")</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="notaModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Choose a note </h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-offset-5">
                                <form style="display:table-cell; vertical-align:middle;height:100%">
                                    <h4>Note:</h4>
                                    <select id="note" class="form-control" style="display:table-cell; vertical-align:middle">
                                        <option value="10">10</option>
                                        <option value="9">09</option>
                                        <option value="8">08</option>
                                        <option value="7">07</option>
                                        <option value="6">06</option>
                                        <option value="5">05</option>
                                        <option value="4">04</option>
                                        <option value="3">03</option>
                                        <option value="2">02</option>
                                        <option value="1">01</option>
                                    </select>
                                </form>
                            </div>                   
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="AvaliarEV()">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->

            <script>
                function AvaliarEV()
                {
                    var nota = $("#note").val();
                    var idEvento = @Model.Id_Evento;
                    var idOrganizador = @Model.Organizador.Id_usuario;
                    var link = '@Url.Action("AvaliarEvento", "Event")';

                    window.location = link + "?IdEvent=" + idEvento + "&Nota=" + nota + "&idOrg=" + idOrganizador;
                }
            </script>
            </div><!-- /.modal -->
        </div>
    </div>
</body>
</html>
