@using ISports.Models
@model Evento
@{
    ViewBag.Title = "Manager Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" id="logout">
                        @if (TempData["successManager"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["successManager"]
                            </div>
                        }
                        
                        @if (TempData["errorManager"] != null)
                        {
                            <div class="alert alert-danger">
                                @TempData["errorManager"]
                            </div>
                        }
                        <div class="page-header">
                            <img src="@Model.Imagem"  class="img-thumbnail" style="width: 150px;height:auto; border: 1px solid #bfbfbf; box-shadow: 0 0 4px #cfcfcf;" />
                            <h1 style="display: inline; position: relative; top: 50px;">@Model.Nome <small>@Model.Organizador.Nome </small></h1>

                            <div class="unsubscribe">
                                <button class="btn btn-danger" type="button" onclick="location.href='@Url.Action("DeleteEvento", "Event", new { idEvent = Model.Id_Evento })';return false;">
                                    <span class="glyphicon glyphicon-minus"></span> Delete Event
                                </button>
                            </div>
                        </div>
                        <div class="comment-tabs">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#about" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">About</h4></a></li>
                                <li><a href="#feed" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Feed</h4></a></li>
                                <li><a href="#members" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Members</h4></a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div id="about" class="tab-pane fade in active">
                                <div class="container">
                                    <div class="row">
                                        <form class="form-horizontal" action="/Event/Manager" method="post">
                                            <fieldset>
                                                <!-- Form Name -->
                                                <legend>Event Info</legend>
                                                <!-- Text input-->
                                                <!-- Text input-->
                                                @Html.Hidden("id", Model.Id_Evento);
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" for="requestName">Event Name</label>
                                                    <div class="col-md-4">
                                                        <!--input id="eventName" name="eventName" placeholder="Event Name" class="form-control input-md" required="" type="text"-->
                                                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-md", @placeholder = "Event Name" })
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.Nome)
                                                </div>
                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="description">Description</label>
                                        <div class="col-md-4">
                                            <!--textarea class="form-control" id="description" name="description"></textarea-->
                                            @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control", @placeholder = "Event Description" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Descricao)
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="sport">Day</label>
                                        <div class="col-md-4">
                                            @Html.DropDownListFor(m => m.Data, new SelectListItem[]{
                                            new SelectListItem() {Text = "Sunday", Value="Sunday"},
                                            new SelectListItem() {Text = "Monday", Value="Monday"},
                                            new SelectListItem() {Text = "Tuesday", Value="Tuesday"},
                                            new SelectListItem() {Text = "Wednesday", Value="Wednesday"},
                                            new SelectListItem() {Text = "Thursday", Value="Thursday"},
                                            new SelectListItem() {Text = "Friday", Value="Friday"},
                                            new SelectListItem() {Text = "Saturday", Value="Saturday"}}, new { @class = "form-control" })

                                        </div>
                                        @Html.ValidationMessageFor(m => m.Data)
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="requestName">Time</label>
                                        <div class="col-md-4">
                                            <!--input id="eventName" name="eventName" placeholder="Event Name" class="form-control input-md" required="" type="text"-->
                                            @Html.TextBoxFor(m => m.Horario, "{0:HH:MM}", new { @class = "form-control input-md date", @placeholder = "22:45", @type= "time" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Horario)
                                    </div>
                                    <legend>Sport info</legend>
                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="sport">Sport</label>
                                        <div class="col-md-4">

                                            @{ List<SelectListItem> listEsports = new List<SelectListItem>();

                                                foreach (var p in ViewBag.Esportes)
                                                {
                                                    listEsports.Add(new SelectListItem
                                                    {
                                                        Text = @p.Descricao_Esporte,
                                                        Value = @p.Id_Esporte.ToString()
                                                    });
                                                }
                                            }
                                            @Html.DropDownListFor(m => m.Esporte.Id_Esporte, listEsports, "-- Select Sports --", new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Esporte.Id_Esporte)
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="maxP"> Number Max Player</label>
                                        <div class="col-md-2">
                                            <!--input id="maxP" name="maxP" placeholder="max" class="form-control input-md" type="text"-->
                                            @Html.TextBoxFor(m => m.MaxJogadores, new { @class = "form-control input-md", @placeholder = "max", @type = "number" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.MaxJogadores)
                                    </div>
                                    <legend>Local info</legend>
                                                @Html.HiddenFor(m => m.Local.Id_Local, new { Value = @Model.Local.Id_Local })
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="requestName">Local Name</label>
                                        <div class="col-md-4">
                                            <!--input id="localName" name="localName" placeholder="Local Name" class="form-control input-md" required="" type="text"-->
                                            @Html.TextBoxFor(m => m.Local.Nome, new { @class = "form-control input-md", @placeholder = "Local Name" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Local.Nome)
                                    </div>
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="address">Address</label>
                                        <div class="col-md-4">
                                            <!--input id="address" name="address" placeholder="address" class="form-control input-md" type="text"-->
                                            @Html.TextBoxFor(m => m.Local.Endereco, new { @class = "form-control input-md", @placeholder = "address" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Local.Endereco)
                                    </div>
                                    <!-- Textarea -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="description">Description Place</label>
                                        <div class="col-md-4">
                                            <!--textarea class="form-control" id="description" name="description"></textarea-->
                                            @Html.TextAreaFor(m => m.Local.Descricao_Local, new { @class = "form-control", @placeholder = "Local Description" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Local.Descricao_Local)
                                    </div>

                                    <!--UF-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="uf">State</label>
                                        <div class="col-md-4">
                                            @{ List<SelectListItem> listEstados = new List<SelectListItem>();

                                                foreach (var p in ViewBag.Estados)
                                                {
                                                    listEstados.Add(new SelectListItem
                                                    {
                                                        Text = @p.Sigla,
                                                        Value = @p.Sigla
                                                    });
                                                }
                                            }
                                            @Html.DropDownListFor(m => m.Local.Cidade.Uf.Sigla, listEstados, "-- Select State --", new { @class = "form-control", id = "estate" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Local.Cidade.Uf.Sigla)
                                    </div>

                                    <!-- Select Basic -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="town">Town</label>
                                        <div class="col-md-4">
                                            @{ List<SelectListItem> listItems = new List<SelectListItem>();

                                                foreach (var p in ViewBag.Cidades)
                                                {
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = @p.Nome,
                                                        Value = @p.codigo.ToString()
                                                    });
                                                }
                                            }
                                            @Html.DropDownListFor(m => m.Local.Cidade.codigo, listItems, "-- Select Town --", new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.Local.Cidade.codigo)
                                    </div>

                                    <!-- Button -->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="submit"></label>
                                        <div class="col-md-6">
                                            <button id="edit" name="edit" class="btn btn-primary" data-toggle="modal" data-target="#modalPictureEvent" style="a">Change Picture</button>
                                            <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
                                            <button id="submit" name="submit" class="btn btn-success">Edit</button>
                                        </div>
                                    </div>
                                    </fieldset>
                                    </form>
                                </div>
                                </div>
                            </div>
                            <div id="feed" class="tab-pane fade">
                                <div class="form-group" style="margin-top: -20px !important;  margin-bottom: 80px !important">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" rows="5" id="comment" style="width:100%; resize: none; max-width: 100% !important;"></textarea>
                                    <button class="btn btn-primary" style="margin-top:5px; float:right" onclick="SendMsg()">Submit</button>
                                </div>
                                

                                @foreach (var m in ViewBag.Noticias)
                                {
                                    <div class="panel panel-default" style="margin-bottom: 5px !important;">
                                        <div class="panel-body">
                                            <h5>@m.Descricao_Noticia <small>@m.Data_Noticia.ToString("MM/dd/yyyy") </small></h5>
                                        </div>
                                    </div>
                                }                                                              
                            </div>


                            <script>
                                     function SendMsg()
                                     {
                                         var id = @Model.Id_Evento;
                                         var texto = $("#comment").val();
                                         var link = '@Url.Action("CadNoticia", "Event")';

                                         window.location = link + '?IdEvent='+id+'&msg='+texto;
                                     }
                            </script>

                            <div id="members" class="tab-pane fade">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Birth</th>
                                    <th>Commands</th>
                                    </thead>
                                    <tbody>
                                    @foreach (var p in ViewBag.listSubs)
                                    {
                                        <tr>
                                            <td>@p.Nome</td>
                                            <td>@p.Sobrenome</td>
                                            <td>@p.Email</td>
                                            <td>@p.Cel</td>
                                            <td>@p.DataNasc.ToString("MM/dd/yyyy")</td>
                                            <td>

                                                @if(p.InscricaoStatus == 1)
                                                {
                                                        <div>
                                                            <button class="btn btn-danger " type="button" id="deleButton" onclick="location.href='@Url.Action("RemoveUserEvent", "Event", new { IdEvent = Model.Id_Evento, IdUser = p.Id_usuario })';return false;">
                                                                Delete
                                                            </button>
                                                        </div>
  
                                                }
                                                else
                                                {
                                                    <div class="btn-group">
                                                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            Pending
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="@Url.Action("AcceptUserEvent", "Event", new { IdEvent = Model.Id_Evento, IdUser = p.Id_usuario })"><i class="fa fa-check" aria-hidden="true"></i> Accept</a></li>
                                                            <li><a href="@Url.Action("RemoveUserEvent", "Event", new { IdEvent = Model.Id_Evento, IdUser = p.Id_usuario })"><i class="fa fa-times" aria-hidden="true"></i> Refuse</a></li>
                                                        </ul>
                                                    </div>
                                                }
                                            </td>
                                        </tr>

                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPictureEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="~/Event/EditImageEvent" method="post" enctype="multipart/form-data">
                    @Html.Hidden("id", Model.Id_Evento);
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Event Picutre</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Formats accepted .jpg, .png and .jpeg.</p>
                            <p>Picture must have less than 2 MiB</p>
                            @Html.TextBoxFor(m => m.Imagem, new { @class = "form-control", @type = "file", @placeholder = "Upload", @required = "required", @accept = ".png, .jpg, .jpeg" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


