
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="page-header">
                    <h2> Search Events </h2>
                </div>
                <!-- Search Container -->
                <div class="container">
                    <div class="row">

                        <div class="container">

                            <div class="row">
                                <button style="float:right" type="button" class="btn btn-primary" onclick="Search()"><i class="fa fa-fw fa-search" aria-hidden="true"></i></button>
                                <div class="col-md-0 col-sm-0 col-xs-0"></div>

                                <div class="col-md-2 col-sm-2 col-xs-2 sec">
                                    <select id="ufs" class="form-control">
                                        <option>@ViewBag.UF</option>
                                        @if (ViewBag.Estados != null)
                                        {
                                            foreach (var u in ViewBag.Estados)
                                            {
                                                <option value="@u.Sigla">@u.Sigla</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-3 sec">
                                    <select id="cidades" class="form-control">
                                        <option>Town</option>
                                        @if (ViewBag.Cidades != null)
                                        {
                                            foreach (var c in ViewBag.Cidades)
                                            {
                                                <option value="@c.codigo">@c.Nome</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-3 sec">
                                    <select id="esportes" class="form-control">
                                        <option>Sport</option>
                                        @if (ViewBag.Estados != null)
                                        {
                                            foreach (var s in ViewBag.Esportes)
                                            {
                                                <option value="@s.Id_Esporte">@s.Descricao_Esporte</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <input id="nome" type="search" class="form-control" placeholder="Name Event">
                                </div>

                                 <script>
                                 @*function SelectionChanged()
                                 {
                                     var estado = $("#ufs").val();
                                     var link = '@Url.Action("Search", "Event", new { estado = "SP" })';
                                     link = link.replace("SP", estado);

                                     window.location = link;
                                 }*@

                                 function Search()
                                 {
                                     var estado = $("#ufs").val();
                                     var cidade = $("#cidades").val();
                                     var esporte = $("#esportes").val();
                                     var nome = $("#nome").val();
                                     var link = '@Url.Action("ResultSearch", "Event")';

                                     window.location = link + "?estado=" + estado + "&cidade=" + cidade + "&esporte=" + esporte + "&nome=" + nome;
                                 }

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</body>
</html>
