@using ISports.Models
@model Usuario
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Bootstrap.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>My Profile</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">First Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control input-md", @placeholder = "First Name" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Last Name</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Sobrenome, new { @class = "form-control input-md", @placeholder = "Last Name" })
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Date</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.DataNasc, new { @class = "form-control input-md", @type = "date", @placeholder = "Date of Birth" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Email</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md", @type = "text", @placeholder = "Email" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Password</label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control input-md", @type = "text", @placeholder = "Password" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="requestName">Preview Image</label>
                                &nbsp &nbsp
                                <img src="Model.Foto_Perfil" class="img-thumbnail" alt="Cinque Terre" width="15%" height="15%" >
                            </div>
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="submit"></label>
                                <div class="col-md-4">
                                    <center>
                                        <button id="submit" name="submit" class="btn btn-success" style="a">Edit</button>
                                    </center>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>


                <script>
                    $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').focus()
                    })
                </script>

                <div class="col-md-4">
                    <center>
                        <button id="edit" name="edit" class="btn btn-success" data-toggle="modal" data-target="#myModal" style="a">Change Picture</button>
                    </center>
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>

</body>
</html>


